
.preserve-3d {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

@mixin vertical-center($position: relative){
  position: $position;
  top: 50%;
  width: 100%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin transition($duration: 0.3s, $applies: all, $type: ease){
  transition: $duration $applies $type;
  -webkit-transition: $duration $applies $type;
  -moz-transition: $duration $applies $type;
  -o-transition: $duration $applies $type;
}
