@font-face {
  font-family: 'opensansregular';
  src: url('fonts/OpenSans-Regular-webfont.eot');
  src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
   url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
   url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
   url('fonts/OpenSans-Regular-webfont.svg#opensansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensansbold';
  src: url('fonts/OpenSans-Bold-webfont.eot');
  src: url('fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
   url('fonts/OpenSans-Bold-webfont.woff') format('woff'),
   url('fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
   url('fonts/OpenSans-Bold-webfont.svg#opensansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: $font1;
  font-size: $bodysize;
  @media #{$hires} {
    font-size:$bodysizehires;
  }
}

h1 {
  font-family: $font1;
  font-size: $h1size;
  color: $h1color;
  font-weight: 200;
  @media #{$tablet2} {
    font-size: $h1sizemobile;
  }
  @media #{$mobile} {
    font-size: $h1sizemobile;
  }
}

article h1 {
  margin-bottom: 0.5em;
}

p {
  color: $pcolor;
  font-size: $psize;
}

article p {
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.8;
}

a {
  text-decoration: none;
  color: inherit;
  @include transition(0.3s);
}

small {
  display: block;
  color: $footercolor;
  font-size: $footersize;
  margin-top: 1em;
}

/* Menu icon glyph with pseudo-element */

.border-menu {
  position: relative;
  padding-right: 1.25em;
  font-size: 1em;
}
.border-menu:after {
  content: "";
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  width: 1em;
  height: 0.125em;
  border-top: 0.375em double $navcolor;
  border-bottom: 0.125em solid $navcolor;
}
