
input {
  display: block;
  margin-top: 0.2em;
  margin-bottom: 1em;
  font-size: $inputsize;
  padding: 0.2em;
  color: $inputtext;
  background-color: $inputcolor;
  @media #{$tablet2} {
    font-size: $inputsizemobile;
  }
  @media #{$mobile} {
    font-size: $inputsizemobile;
  }
}

input:focus {
  background-color: $inputcoloractive;
  color: $inputtextactive;
}

textarea {
  width: 40em;
  height: 10em;
  margin-top: 0.2em;
  margin-bottom: 1em;
  font-size: $inputsize;
  padding: 0.2em;
  display: block;
  color: $inputtext;
  background-color: $inputcolor;
  @media #{$tablet1} {
    width: 30em;
  }
  @media #{$tablet2} {
    width: 80%;
    font-size: $inputsizemobile;
  }
  @media #{$mobile} {
    width: 80%;
    font-size: $inputsizemobile;
  }
}

textarea:focus {
  color: $inputtextactive;
  background-color: $inputcoloractive;
}

.inputbutton {
  width: 4em;
  margin-right: 1em;
  float: left;
  color: $buttontext;
  background-color: $buttoncolor;
  //border-radius: 0.3em;
  //-webkit-border-radius: 0.3em;
  //background-color: $buttoncolor;
}

.inputbutton:active {
  background-color: $buttoncoloractive;
}
