
.container {
  margin: 0 auto;
  max-width: 1572px;
  padding-left: 88px;
  padding-right: 88px;
  @media #{$tablet2} {
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
    text-align: center;
  }
  @media #{$mobile} {
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
    text-align: center;
  }
}

#pictures {
  width: 100%;
  margin: 10em auto;
  @media #{$tablet2} {
    max-width: 500px;
    margin: 7em auto;
  }
  @media #{$mobile} {
    max-width: 500px;
    margin: 5em auto;
  }
}

#pictures a, #pictures img {
  display: block;
}

#pictures a {
  position: relative;
  max-width: 500px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 24px;
  @media #{$tablet2} {
    margin: 0 0 24px 0;
  }
  @media #{$mobile} {
    margin: 0 0 24px 0;
  }
}

#pictures div {
  width: 33.333%;
  float: left;
  @media #{$tablet2} {
    float: none;
    width: 100%;
  }
  @media #{$mobile} {
    float: none;
    width: 100%;
  }
}

#pictures a div {
  position: absolute;
  width: 100%;
  float: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  @include transition(0.3s);
  @extend .preserve-3d;
  background: $rgba1;
  opacity: 0;
}

#pictures a div:hover {
  opacity: 0.85;
  @include transition(0.3s);
  cursor: zoom-in;
  //background: $rgba1;
  //background: $rgba2;
}

#pictures div p {
  @include vertical-center(absolute);
  //visibility: hidden;
  color: $linkcolor;
  text-transform: uppercase;
  font-size: $picturesize;
  letter-spacing: 0.2em;
  font-weight: 100;
}

#panel {
  visibility: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  cursor: zoom-out;
  display: table;
}

#panel.active {
  visibility: visible;
  z-index: 101;
  background: $rgba1;
  background: $rgba2;
  @include transition(0.3s, background);
}

#panel #spinner {
  @include vertical-center(absolute);
}

#panel #marginal {
  position: absolute;
  left: 24px;
  right: 24px;
  top: 24px;
  bottom: 24px;
}

#panel #piccontainer {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 25px;
}

#display {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: -20000%;
  bottom: 0;
  margin: auto;
  display: block;
  visibility: hidden;
}

#display.active {
  visibility: visible;
  top: 0;
}
